﻿<md-card style="margin:20px">
  <md-card-header>
    <md-card-title><h4>insurance - "{{insuranceData.Description}}"</h4></md-card-title>
  </md-card-header>
  <md-card-content>
    <div>
      <md-select placeholder="Package" [(ngModel)]="insuranceData.Package">
        <md-option *ngFor="let package of packages" [value]="package.Id">{{ package.Description }}</md-option>
      </md-select>
      <md-select placeholder="InsuranceMode" [(ngModel)]="insuranceData.InsuranceMode">
        <md-option *ngFor="let i of insuranceModes" [value]="i.Id">{{ i.Description }}</md-option>
      </md-select>
    </div>
    <!--<div>
      <md-input-container>
        <input mdInput placeholder="Description" [(ngModel)]="insuranceData.Description" readonly="readonly">
      </md-input-container>
    </div>-->
    <div>
      <md-input-container>
        <input mdInput placeholder="Passport number" [(ngModel)]="insuranceData.PassportNumber">
      </md-input-container>
    </div>

    <div>
      <md-checkbox [(ngModel)]="surchargesChecked[0]" (change)="surchargeChanged(0, $event)">Construction worker</md-checkbox>
      <md-checkbox [(ngModel)]="surchargesChecked[1]" (change)="surchargeChanged(1, $event)">Temporary working abroad</md-checkbox>
      <md-checkbox [(ngModel)]="surchargesChecked[2]" (change)="surchargeChanged(2, $event)">Proffesional athlete</md-checkbox>
      <md-checkbox [(ngModel)]="surchargesChecked[3]" (change)="surchargeChanged(3, $event)">Athlete</md-checkbox>
    </div>
  </md-card-content>
</md-card>