﻿<md-input-container>
  <input mdInput placeholder="username" [(ngModel)]="username">
</md-input-container>

<md-input-container>
  <input type="password" mdInput placeholder="password" [(ngModel)]="password">
</md-input-container>

<md-card-actions>
  <button md-raised-button (click)="login()">Login</button>
</md-card-actions>

<div>
  <p>{{msg}}</p>
</div>