﻿<md-card style="margin:20px">
  <md-card-header>
    <md-card-title>Basic data</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-input-container>
      <input mdInput placeholder="Policy id" [(ngModel)]="policy.PolicyId" readonly="readonly">
    </md-input-container>
    <md-input-container>
      <input mdInput [mdDatepicker]="dtpStartDate" [(ngModel)]="policy.StartDate" placeholder="Start date">
      <button mdSuffix [mdDatepickerToggle]="dtpStartDate"></button>
    </md-input-container>
    <md-input-container>
      <input mdInput [mdDatepicker]="dtpEndDate" [(ngModel)]="policy.EndDate" placeholder="End date">
      <button mdSuffix [mdDatepickerToggle]="dtpEndDate"></button>
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Agent id" [(ngModel)]="policy.AgentId" readonly="readonly">
    </md-input-container>
  </md-card-content>
</md-card>