﻿<md-card style="margin:20px">
  <md-card-header>
    <md-card-title><h4>Persons</h4></md-card-title>
  </md-card-header>
  <md-card-content>
    <md-input-container>
      <input mdInput placeholder="Name" [(ngModel)]="persons[0].NaturalPerson.Name">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Surname" [(ngModel)]="persons[0].NaturalPerson.Surname">
    </md-input-container>
    <md-input-container>
      <input mdInput [mdDatepicker]="dtpBirthday" [(ngModel)]="persons[0].NaturalPerson.DateOfBirth" placeholder="Date Of Birth">
      <button mdSuffix [mdDatepickerToggle]="dtpBirthday"></button>
    </md-input-container>
    <md-datepicker #dtpBirthday></md-datepicker>
    <md-input-container>
      <input mdInput placeholder="Personal Id" [(ngModel)]="persons[0].NaturalPerson.PersonalId">
    </md-input-container>
    <md-select placeholder="Gender" [(ngModel)]="persons[0].NaturalPerson.Gender">
      <md-option *ngFor="let g of genders" [value]="g.Id">{{ g.Description }}</md-option>
    </md-select>
  </md-card-content>
  <md-card-content>
    <md-input-container>
      <input mdInput placeholder="Street" [(ngModel)]="addresses[0].Street">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="HouseNumber" [(ngModel)]="addresses[0].HouseNumber">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="PostNumber" [(ngModel)]="addresses[0].PostNumber">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="City" [(ngModel)]="addresses[0].City">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Municipality" [(ngModel)]="addresses[0].Municipality">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Region" [(ngModel)]="addresses[0].Region">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Country" [(ngModel)]="addresses[0].CountryId" readonly="readonly">
    </md-input-container>
  </md-card-content>
</md-card>