﻿<policy-base-component [policy]="policyData"></policy-base-component>

<policy-persons-component [policy]="policyData"></policy-persons-component>

<travel-individual-component [policy]="policyData"></travel-individual-component>

<md-card style="margin:20px">
  <md-card-actions>
    <button md-raised-button (click)="save()">Save</button>
  </md-card-actions>
</md-card>