﻿  Selected
  <div *ngIf="selectedData">
    {{selectedData.Id}} {{selectedData.Description}}    
  </div>

<ul>
  <li *ngFor="let d of data" (click)="onSelect(d)">
    <span>{{d.Id}}</span> {{d.Description}}
  </li>
</ul>