﻿<md-toolbar color="primary">
  <!--<button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>-->
  API test

  <span class="app-toolbar-filler"></span>
  <!--<button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>-->
</md-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>